body{
    overflow: hidden;
    margin: 0;
    background-color: black;
}

.bar {
    position: fixed;
    height: 1px;
    width: 3px;
/*    background-color: red;*/
    background: -webkit-linear-gradient(red, white);
/*    background-attachment: fixed;*/
    transform: rotate(90deg);
/*    border-top: 3px solid red;*/
    transform-origin: center top;
}

#viz {
    position: relative;
    transform: rotate(-90deg);
    margin-top: -25%;
}

.mid {
    position: absolute;
    width: 450px;
    height: auto;
    margin-top: -20%;
    margin-left: -20%;
}