body{
    overflow: hidden;
    margin: 0;
    background-color: black;
}

.bar {
    position: fixed;
    height: 1px;
    width: 3px;
    background: -webkit-linear-gradient(red, white);
    transform: rotate(90deg);
    transform-origin: center top;
}

#viz {
    position: relative;
    transform: rotate(-90deg);
    margin-top: -25%;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
}

.play {
    position: absolute;
    margin-left: 50%;
    font-size: 3em;
    color: rgb(175, 175, 175);
    padding-top: -15px;
}

.play:hover {
    transform: scale(1.1, 1.1);
    color: rgb(255, 255, 255);
}


